*.data filter=lfs diff=lfs merge=lfs -text
*.lammpstrj filter=lfs diff=lfs merge=lfs -text
*.xyz filter=lfs diff=lfs merge=lfs -text
*.dump filter=lfs diff=lfs merge=lfs -text
*.xtc filter=lfs diff=lfs merge=lfs -text
*.trr filter=lfs diff=lfs merge=lfs -text
*.dcd filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
results/dipoles/*_records.csv filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*_records.csv filter=lfs diff=lfs merge=lfs -text
*.tpr filter=lfs diff=lfs merge=lfs -text
*.edr filter=lfs diff=lfs merge=lfs -text
*.cpt filter=lfs diff=lfs merge=lfs -text
*.gro filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.prmtop filter=lfs diff=lfs merge=lfs -text
*.inpcrd filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
*.mol2 filter=lfs diff=lfs merge=lfs -text
*.frcmod filter=lfs diff=lfs merge=lfs -text
*.gbw filter=lfs diff=lfs merge=lfs -text
*.cis filter=lfs diff=lfs merge=lfs -text
*.densities filter=lfs diff=lfs merge=lfs -text
*.cube filter=lfs diff=lfs merge=lfs -text
*.TDDFTGuess.gbw filter=lfs diff=lfs merge=lfs -text
